/* footer part */

footer {
    width: 100%;
    margin: auto;
    background-color: #333333;
    padding: 20px;
    border-top: .5px solid #B1B2B4;
    text-align: center;
    color: #FFFFFF;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.footer-social .social-icons a {
    text-decoration: none;
    margin: 0 5px;
    color: #FFFFFF;
}

.footer-language {
    margin-bottom: 20px;
}

.footer-language label {
    font-size: 14px;
    margin-right: 10px;
    color: #FFFFFF;
}

.footer-bottom {
    font-size: 14px;
    color: #FFFFFF;
}

.footer-bottom a {
    color: #FFFFFF;
    text-decoration: none;
}
