a {
    text-decoration-line: none;
    color: #BBBBBB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    height: 4em;
    width: 100%;
    margin: auto
}

.navbar {
    height: 100%;
    background-color: #1f1f1f;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid #B1B2B4;
    position: relative;
    color: #888888;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #BBBBBB;
    font-weight: 500;
    font-size: 18px;
}

.nav-links a.active {
    color: #FFFFFF;
}

.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.user-profile:hover {
    background-color: #e0e0e0;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chevron-down {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 39px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.dropdown-menu a {
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    color: #333;
    border: 1px solid whitesmoke;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown-active .dropdown-menu {
    display: block;
}

.action-button {
    background-color: #2E8BC0;
    /* Light blue color */
    color: white;
    /* Text color */
    border: none;
    /* Remove border */
    border-radius: 15px;
    /* Oval corners */
    padding: 5px 15px;
    /* Padding for button */
    font-size: 16px;
    /* Font size */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition: background-color 0.3s ease;
    /* Smooth transition */
    margin: 5px;
    /* Space between buttons */
}

.action-button:hover {
    color: white;
    background-color: #3C9FD7;
    /* Darker blue on hover */
}

.login-button {
    /* Light blue color */
    color: #BBBBBB;
    /* Text color */
    padding: 5px 10px;
    /* Padding for button */
    font-size: 16px;
    /* Font size */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition: background-color 0.3s ease;
    /* Smooth transition */
    margin: 5px;
    /* Space between buttons */
}
.login-button:hover{
    color: white;
}
