body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #1b1b1b;
}

/* body part */
main {
    padding: 20px;
    width: 80%;
    margin: auto;
}

.recommended, .popular, .trending {
    margin-bottom: 40px;
}

.recommended h2, .popular h2, .trending h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.courses {
    display: flex;
    gap :10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.course-card {
    background-color: #3A3A3A;
    border: .5px solid #444;
    border-radius: 4px;
    width: 23%;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.course-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border: .5px solid #3c9fd7;
    background-color: #444;
}

.course-card img {
    max-width: 100%;
    /* border-bottom: 1px solid #ddd; */
    margin-bottom: 10px;
}

.course-info {
    padding: 10px;
}

.course-info h3 {
    font-size: 18px;
    margin: 10px 0;
    color: white;
}

.course-info .category, .course-info .level, .course-info .rating,  .course-info .bestseller, .course-info .discount {
    font-size: 14px;
    margin: 5px 0;
    color: #BBBBBB;
}
.course-info .price{
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0;
    color: #3C9FD7;
}

.course-info .bestseller, .course-info .discount {
    font-weight: bold;
    color: #e74c3c;
}

.promo-content {
    text-align: center;
    padding: 40px 20px;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin-bottom: 40px;
    color: #333333;
}

.promo-content h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333333;
}

.promo-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333333;
}

.explore-btn {
    padding: 10px 20px;
    background-color: #4A90E2;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.explore-btn:hover {
    background-color: #357ABD;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a,
.pagination span {
    display: block;
    padding: 10px 15px;
    border: 1px solid #444444; /* Updated border color */
    color: #BBBBBB; /* Inactive page color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #3C9FD7; /* Light blue on hover */
    color: #FFFFFF; /* White text on hover */
}

.pagination .active span {
    background-color: #2E8BC0; /* Active page color */
    color: #FFFFFF; /* White text for active page */
    border: 1px solid #2E8BC0;
}

.pagination .disabled span {
    color: #888888; /* Disabled page color */
    border: 1px solid #444444; /* Matches border color */
}

.pagination .ellipsis {
    padding: 10px 15px;
}
